<!DOCTYPE html>
<html>
<head>
  <title>Playground</title>
  <%= stylesheet_link_tag    "playground/application", media: "all" %>
  <%= javascript_include_tag "playground/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
